<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <urlMappings enabled="true">
      <add url="~/Default.aspx" mappedUrl="~/ECWOutbound.ashx"/>
      <add url="~/ECWtoSCProd.aspx" mappedUrl="~/ECWInbound.ashx"/>
      <add url="~/ECWtoSCtest.aspx" mappedUrl="~/ECWInbound.ashx"/>
      <add url="~/Decrypt.aspx" mappedUrl="~/ECWInbound.ashx"/>
      <add url="~/Encrypt.aspx" mappedUrl="~/ECWOnbound.ashx"/>
    </urlMappings>
  </system.web>

  <appSettings>
    <add key="ECWInboundRedirectURL" value="http://google.com/" />
    <add key="ECWOutboundRedirectURL" value="http://google.com/" />
    <add key="ECWOutboundTimestamp"   value="true" />
    <add key="ECWCipherKey" value ="SL94lATiyuaCo4sWZg1ECz5xMTD78yR9" />
  </appSettings>
</configuration>